input[type="number"]{
    outline: none;
}

.progress-controls__value {
    padding: 8px 10px;
    height: 28px;
    width: 44px;

    font-family: 'GTEestiPro';
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);

    border: 1px solid var(--text-color);
    border-radius: 30px;
}