.animate {
    animation: rotor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotor {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}