@font-face {
    font-family: 'GTEestiPro';
    src: local('GTEestiPro'), url('./assets/fonts/GTEestiPro/gteestiprodisplay_light.woff') format('woff');
    font-weight: 300;
}

html, body {
    font-family: 'GTEestiPro';

    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    position: relative;
}

